<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @micropost.resources %>
</p>

<p>
  <b>User:</b>
  <%= @user.name %>
</p>

<p>
  <b>Create at:</b>
  <%= @user.created_at %>
</p>

<%= link_to 'Edit', edit_user_micropost_path(@user, @micropost) %> |
<%= link_to 'Back', edit_user_micropost_path(@user, @micropost) %>
